body {
  color: #fffff1;
  width: 100%;
  cursor: pointer;
  background: -webkit-linear-gradient(left top,  #000000, #001522); 
  background: -o-linear-gradient(bottom right, #000000, #001522);
  background: -moz-linear-gradient(bottom right, #000000, #001522);
  background: linear-gradient(bottom right,  #000000, #001522);
}

hr {
  margin-top: 9vh;
  margin-left: 3vh;
  opacity: 0.3;
}

h5 {
  margin-top: 6vh;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
}

.no-margin {
  margin-top: 0;
  margin-left: 0;
}

.user-text {
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  width: 100%;
  text-align: center;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.user-text:active {
  border: none;
}

.margin-top {
  margin-top: 10vh;
}

.footer {
  z-index: 20;
  position: relative;
  top: -20vh;
  display: none;
  opacity: 0;
}

.canvas {
  position: relative;
  width: 100%;
}

#splash{
  z-index:10;
  width:100%;
  height:100%;
  background: -webkit-linear-gradient(left top,  #000000, #001522); 
  background: -o-linear-gradient(bottom right, #000000, #001522);
  background: -moz-linear-gradient(bottom right, #000000, #001522);
  background: linear-gradient(bottom right,  #000000, #001522);
  position: absolute;
}

#fdstar{
  background-image:url('assets/FD-Etoile-Bokeh.png');
  background-position:center;
  width:100%;
  height:100%;
}

#fdstar h1{
  text-align:center;
  font-size:2em;
  color:white;
  font-family:'Arial';
}

#logo{
  margin:15vh auto 25px auto;
  width:90%;
}

#instructions {
  z-index:9;
  background: url(assets/instructions.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

#background {
  z-index: 1;
  position: absolute;
}

#filter {
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
  opacity: 0;
  background-color: black;
}

#foreground {
  z-index: 3;
}